version: '3.8'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app:cached
      - ./static/images/avatars:/app/static/images/avatars
    environment:
      - FLASK_ENV=development
    command: gunicorn -k eventlet -w 1 app:app --bind 0.0.0.0:5000
